.avatar {
    --avatar-size: 32px;
    display: inline-block;
    aspect-ratio: 1;
    width: var(--avatar-size);
    border: calc(var(--avatar-size) / 30) solid currentColor;
    color: var(--black);
    font-weight: 700;
    font-family: Poppins, sans-serif;
    font-size: calc(var(--avatar-size) / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.iconPlaceholder {
    font-size: 0;
    padding: calc(var(--avatar-size) / 8);
    
    svg {
        width: 100%;
        height: 100%;
    }
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: calc(var(--avatar-size) / 5.4);
}
