@use 'sass:math';
@use 'fonts' as *;
@use 'variables' as *;
@use 'mixins' as *;

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--color-orange-light);
  color: var(--color-text);
}

html {
  --site-scale: calc(100vw / var(--desktop));

  font-size: calc(var(--site-scale) * #{16});
  scrollbar-gutter: stable;

  @include to(var(--lg)) {
    --site-scale: calc(100vw / var(--lg));
  }

  @include to(var(--tablet)) {
    --site-scale: calc(100vw / var(--tablet));
  }

  @include to(var(--mobile)) {
    --site-scale: calc(100vw / var(--mobile));
  }
}

body {
  // font-family: Poppins, sans-serif;
  background-color: var(--color-background);
  font-optical-sizing: auto;
  color: var(--color-text);
  overflow-x: hidden;
  font-size: 17px;

  @include to($mobile) {
    font-size: 15px;
  }
}

button {
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  border: none;

  &:disabled {
    cursor: default;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}
