@mixin to($to) {
  @media (max-width: $to) {
    @content;
  }
}

@mixin font-face($font-family, $weight, $weightStr, $english: false) {
  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: $weight;
    font-display: swap;
    src: url('fonts/#{$font-family}-#{$weightStr}.woff2') format('woff2');
    @if $english {
      unicode-range: U+0000-007F;
    } @else {
      unicode-range: U+0400-04FF;
    }
  }
}
