:root {
  /*
  === Colors ===
  */
  --color-background: oklch(94% 0 90);
  --color-text: oklch(23.161% 0.02 285);
  --color-white: oklch(100% 0 90);
  --color-black: oklch(0% 0 0);
  --color-popup-content: oklch(97.315% 0.00011 271.152);

  --color-red: oklch(65.4% 0.154 22.3);
  --color-green: oklch(0.70 0.187 150.762);

  --color-white-85: oklch(0.28 0.01 0 / 0.85);
  --color-green-85: oklch(0.70 0.187 150.762 / 0.85);

  --border-radius-sm: .25rem;
  --border-radius-md: .5rem;
  --border-radius-max: 1000rem;

  /*
  === Layers ===
  */
  --z-under: -1;
  --z-over: 1;
  --z-second-over: 2;
  
  /*
  === Transitions ===
  */
  --trans-fast: 0.3s ease;
  --trans-medium: 0.4s ease-in-out;
}

/* === Dark Theme === */
[data-theme="dark"] {
  --color-background: oklch(20% 0 90);
  --color-text: oklch(76.839% 0.02 285);

  --color-white: oklch(15% 0 90);
  --color-black: oklch(100% 0 0);

  --color-red: oklch(44.6% 0.154 22.3);
}
