@use "@/shared/styles/variables" as *;

.tooltip {
   &Trigger {
      display: inline-block;
      cursor: pointer;
   }

   &Content {
      z-index: var(--z-tooltip);
      user-select: none;
      border-radius: 2px;
      background-color: var(--color-popup-content);
      box-shadow:
         0 0 0 1px var(--color-gray-light),
         0 8px 20px 1px var(--color-black-25);
      padding: 10px;
      border-radius: var(--border-radius-sm);
   }
}

.textEmpty {
   line-height: 0;
}
